@import '../../styles/variaveis';

$botaoLargura: 282px;



.post {
  text-align: center;
  width: 282px;
  
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 1.5rem;
  transition: transform .2s;
}


.faixa{
 position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100000;
  
  
  top: 150px;
  padding:23px;
  margin: 10px;
  
}

.titulo {
  position: absolute;
  font-family: $fonte-normal;
  font-size: 1.25rem;
  color: $corClara;
  line-height: 1.75rem;
  z-index: 1000;
 
  cursor: pointer;
  border-radius: 5px;

}

.botaoLer {
  position: absolute;
  
  display: inline-block;
  border-radius: 24px;
  
  font-size: 1.125rem;
  line-height: 1.125rem;
  padding: 0.6875rem 1.75rem;
     
  color: var(--branco);
 
  cursor: pointer;
  transition: 0.2s;
  z-index: 1000;
  top: 60px;
  background: $corFundo;
  border: 2px solid $corFundo;
  border-radius: 10%;
  box-shadow: -8px -8px 15px $corClaraLuz,
    8px 8px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;

}

.botaoLer::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5),
    inset -5px -5px 15px $corClaraLuz;
   
}

.botaoLer::after {
  content: '';
  position: absolute;
  inset: 2px;
  border: 2px  solid $corFundo;
  background: $corFundo;
  border-radius: 5px;
  opacity: 0.5;
 

}

.botaoLer:hover {
  background: $cyberyellow;
  color: $corEscura;
 
  
}

.botaoLer__span{
  z-index: 1000;
  
}

.botaoLer:active{
  box-shadow: inset -8px -8px 25px $corClaraLuz,
 inset 8px 8px 15px rgba(0, 0, 0, 0.15);
}


@media (max-width: 1100px) {
  .post {
      width: 336px;
  }
  .titulo {
      font-weight: 600;
  }
  .botaoLer {
      padding: 0.6875rem 1.5rem;
      font-size: 1.375rem;
  }
}

.containerPost{
  position: relative;

  
}


.capa{
  display: flex;
  position: absolute;
  z-index: 500;
  border:12px solid $corFundo;
  width: 100%;
  
  padding-bottom: 115px;
  border-radius:5%;
  top: -10px;

  

}
.capa:hover{
  padding: 9px;
  border: 0px solid $corFundo;
  height: auto;
}

.loader{

  position: relative;
  width: $botaoLargura;
  height: 280px;
  background: $corFundo;
  border: 2px solid $corFundo;
  border-radius: 5px;
  box-shadow: -8px -8px 15px $corClaraLuz,
    8px 8px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  //border: 2px $corClaraLuz solid;

}

.loader .faRocket::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 5px;
  //background-color: red;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5),
    inset -5px -5px 15px $corClaraLuz;
   
}

.loader .faRocket::after {
  content: '';
  position: absolute;
  inset: calc($botaoLargura * 0.033);
  background: $corFundo;
  border-radius: 5px;

}

.loader span i{
  position: absolute;
  inset: calc($botaoLargura * -0.5);
  border-radius: 5px;
  filter: blur(5px);
  background: linear-gradient($cyberblue, $cyberyellow, $cybergreen);
  background-position: center;
  animation: animate 2s linear infinite;
 

}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 744px){
.capa:focus{
  padding: 9px;
  border: 0px solid $corFundo;
  height: auto;
}

.capa:active{ 
  padding: 9px;
  border: 0px solid $corFundo;
  height: auto;


}


}