@import '../../styles/variaveis';
$botaoAltura: 20px;
$botaoLargura: $botaoAltura;

.rodape {
  background-color: $corFundo;

  color: var(--branco);
  
  display: flex;
  
  justify-content: center;
  align-items: center;


}

/* .position__fixed{
  position: fixed;
  bottom: 0;
  z-index: 200000;
  width: 100vw;
}
 */


.container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  overflow: hidden;

  height: 100px;
  
  

}

