@import-normalize;
@import './variaveis';


 

body::-webkit-scrollbar{
 width: 10px; 
}


body::-webkit-scrollbar-thumb{
  background-color:$azul-claro;
  background-image: url(./sabreScroll.png);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}


body::-webkit-scrollbar-track{
  background: $azul-escuro;
 // background: linear-gradient($azul-escuro, $azul-claro);
}

@font-face {
  font-family: "GandhiSansRegular";
  src: local("GandhiSansRegular"),
   url('../assets/fontes/GandhiSans-Regular.otf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GandhiSansBold";
  src: local("GandhiSansBold"),
   url('../assets/fontes/GandhiSans-Bold.otf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

